.col{
	a{
		i{
			font-size: 50px;
			color: black;
		}
	}
	img{
		width: 100px;
	}
	p{
		color: #8f8f8f;
		font-size: 15px;
	}
	b{
		color: black;
	}
	#lock{
		height: 35px;
    	width: 25px;
	}
	::-webkit-input-placeholder{
   		text-align: center;
	}
}