$font-familyAnton:'Anton', sans-serif;
$font-familyOpen: 'Roboto', sans-serif;
$font-familyOpen: 'Open Sans', sans-serif;
$yellow-buttons:#fbd43b ;
$red-bullet:#f64552 ;
$gray: #f8f8f8 ;
$dark-gray:#212121 ;
$dark-letter-soft:#8f8f8f ;
$turqueise-conditions:#00c3a3 ;
$purple-number:#49233b ;
$light-purple:#451e36 ;
$dark-purple:#38052a ;

